bezier==2023.7.28 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
numpy==1.26.3 ; python_version >= "3.9" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.9" and python_version < "4.0"
pandas==2.1.4 ; python_version >= "3.9" and python_version < "4.0"
plotly==5.18.0 ; python_version >= "3.9" and python_version < "4.0"
pyqt6-qt6==6.6.1 ; python_version >= "3.9" and python_version < "4.0"
pyqt6-sip==13.6.0 ; python_version >= "3.9" and python_version < "4.0"
pyqt6==6.6.1 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4.0"
pytz==2023.3.post1 ; python_version >= "3.9" and python_version < "4.0"
scipy==1.11.4 ; python_version >= "3.9" and python_version < "4.0"
shapely==2.0.2 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
svgpathtools==1.6.1 ; python_version >= "3.9" and python_version < "4.0"
svgwrite==1.4.3 ; python_version >= "3.9" and python_version < "4.0"
tenacity==8.2.3 ; python_version >= "3.9" and python_version < "4.0"
tqdm==4.66.1 ; python_version >= "3.9" and python_version < "4.0"
tzdata==2023.4 ; python_version >= "3.9" and python_version < "4.0"
